/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}
td {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  font-family: monospace;
}
