/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #c1def6, #0d233b) 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.6);
  color: white;

  h1 {
    font-size: 3rem;
    text-align: center;
  }
}

.user-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 15px;

  input {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 1.1rem;
    background-color: rgba(155, 155, 155, 0.2);
    color: black;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
    }
  }

  button {
    width: 100px;
    height: 40px;
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    background-color: #0d233b;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;

    &:hover {
      background-color: #c1def6;
      color: #0d233b;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.btn-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;

  button {
    width: 200px;
    height: 40px;
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    background-color: #0d233b;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;

    &:hover {
      background-color: #c1def6;
      color: #0d233b;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

#tablero-wrapper {
  width: 462px;
  height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: transparent /*rgba(155, 155, 155, 0.2)*/;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
  margin: auto;

  table {
    border-collapse: collapse;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
  }
  td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    font-family: monospace;
  }
}

#message {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 15px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(155, 155, 155, 0.2);
    border-radius: 0.4rem;
    color: #1eff00;
    padding: 5px;
  }
}

#print-user-name {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}
